@import "tailwindcss";


:root {
  --primary: #121731;
  --grey: #728a9c;
  --light: #ffffff;
  --dark-alt: #555555;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #728a9c #f0f0f0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/* Font for titles and headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

