@import "tailwindcss";


:root {
  --primary: #121731;
  --grey: #728a9c;
  --light: #ffffff;
  --dark-alt: #555555;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #728a9c #f0f0f0;
  font-family: 'Poppins', sans-serif;
}

