@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";




:root {
  --primary: #121731;
  --grey: #728a9c;
  --light: #ffffff;
  --dark-alt: #555555;
}

