@import "tailwindcss";

:root {
  --primary: #121731;
  --grey: #728a9c;
  --light: #ffffff;
  --dark-alt: #555555;
}

html {
  scroll-behavior: smooth;
  margin-top: 60px;
  font-family: 'Poppins', sans-serif;
}

#services {
  scroll-margin-top: 70px;
  margin-top: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #728a9c #f0f0f0;
}

body {
  background-color: var(--light);
  color: var(--dark-alt);
  line-height: 1.6;
}

