@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';
/* app/globals.css */
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* your existing styles below */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ...rest of your globals */



:root {
  --primary: #121731;
  --grey: #728a9c;
  --light: #ffffff;
  --dark-alt: #555555;
}

